@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/effect-fade";

@plugin "daisyui" {
  themes: light, dark;
}
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeInUp 0.5s ease-out;
}
